body {
	/*
	background: url(../img/bg/fade-blue-left.png), url(../img/bg/fade-blue-right.png), url(../img/bg/cyberglow-blue.jpg);
	background-repeat: repeat-y, repeat-y, repeat;
	background-position: left, right, top;
	background-attachment: fixed, fixed, fixed;
	*/
	background: url(../img/bg/spacehulk-blue.jpg) #08151d;
	font-family: "Trebuchet MS", arial, verdana, helvetica;
	color: #bcd7bb;
	margin: 0 auto;
	height: 100%;
}

.invalid { 
	color: #ef913b; 
}

.training-copy { 
	font-size: 22px;
	color: #ffb14b; 
	margin-bottom: 10px;
}

div.panel.training {
	background: url(../img/bg/illum-yellow.png), rgba(36,24,6,0.9);
	background-repeat: repeat-x;
	border: 2px solid #9f611b;
}
div.panel.training h1 {
	background: #ffb14b;
	border-color: #ffb14b;
}
div.panel.training button {
	background: rgba(235,206,121,0.4);
	border-color: #ffb14b;
	color: #ffb14b; 
}
div.panel.training button.disabled {
	color: rgba(235, 206, 121, 0.1);
	background: rgba(235, 206, 121, 0.1);
	border: 4px solid rgba(235, 206, 121, 0.1);
	cursor: default;
}

}

@media only screen and (min-width: 321px) and (max-width: 480px) {
	body {
		width: 480;
	}
	.logo {
		display: none;
	}
	.panel-location-gutter {
		display: none;
	} 
	.panel1 {
		width: 306px;
	}
	.panel2 {
		width: 306px;
	}
	.panelW {
		width: 306px;
	}
}
@media 	only screen and (min-width: 481px) {
	body {
		width: 980px;
	}
	.panel-location-gutter {
		width: 120px;
	}
	.panel1 {
		width: 306px;
	}
	.panel2 {
		width: 512px;
	}
	.panelW {
		width: 832px;
	}
}

form {
	display: inline;
}

#header {
	border-top: none;
	height: 30px;
	margin-bottom: 16px;
}

#header img.logo {
	position: relative;
	border: 0;
	left: -7px;
	top: 3px;
}

#header nav {
	float: right;
	margin-top: 5px;
	margin-right: 8px;
}
nav ul {
	margin: 0;
	padding: 0;
}
nav ul li {
	list-style-type: none;
	float: left;
	margin: 0;
	padding: 3 5 4 5;
}
nav ul li.active {
	border-bottom: 6px solid #ebeca1;
}

nav {
	font-size: 14px;
}
nav a {
	text-decoration: none;
	text-transform: uppercase;
	padding: 0;
	margin: 0;
}

a:hover,a:active {
	outline: none;
}

a,a:active,a:visited {
	color: #ebeca1;
}

a:hover {
	color: #ebeca1;
}




.panel {
	background: url(../img/bg/illum-yellow.png), rgba(6,32,36,0.9);
	background-repeat: repeat-x;
	border: 2px solid #849064;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 10px;
	z-index: 0;

	/*
	-webkit-transform: scale3d(1.0, 0.9, 1.0);
	-webkit-transition-property: -webkit-transform;
	-webkit-transition-duration: 1s;
	-webkit-transform-origin: 0 0;
	*/	
}


div.alert {
	color: #ef611b; 
	background: url(../img/bg/illum-yellow.png), rgba(36,32,6,0.9);
	background-repeat: repeat-x;
	border: 2px solid #ef611b;

}


div.lcars {
	border-bottom-right-radius:   10px 14px;
	border-bottom-width: 7px;
}
.panel.lcars h1 {
	border-bottom-right-radius:   8px;
}

.panel h1 {
	float: left;
	position: relative;
	top: -2;
	left: -2;
	margin: 0;
	z-index: 100;
	padding: 1 6;
	border: 4px solid #ebeca1;
	color: #000;
	background: #ebeca1;
	font-size: 14px;
	text-transform: uppercase;
}

.panel h1 a {
	color: #323263;
}

button.panel-close {
	margin: 0;
	padding: 0;
	float: right;
	width: 26px;
	height: 26px;
	line-height: 0;
	position: relative;
	top: -2;
	right: -2;
}
.panel p {
	margin-top: 0;
}

.panel h2 {
    clear: both;
    color: #abb97c;
	font-weight: normal;
    font-size: 14pt;
    margin: 15px 0 0;
    text-transform: uppercase;
}
.darkfont {
    color: #9ba96c;
}
.darkfont a {
    color: #9ba96c;
}
.panel h3 {
	clear: both;
	position: relative;
	/*
	top: -2;
	left: -2;
	*/
	margin: 0;
	padding: 4 2;
	color: #bcd7bb;
	border-top: 1px dotted #bcd7bb;
	font-size: 11px;
	text-transform: uppercase;
}

.panel-body {
	clear: both;
	padding: 15 15 8 15;
	font-size: 14px;
}

.panel-location {
	height: 60px; 
	margin-bottom: 10px;
	/*background-attachment: fixed;*/
	background-position: -25px -126px;
	background-color: #000;

}

.panel-location-gutter {
	float: left;
	margin-bottom: 10px;
	/*background-attachment: fixed;*/
	background-position: -25px -200px;
	background-color: #000;

}
.panel1 {
	float: left; 
}
.panel2 {
	float: left;
}
.panelW {
	float: left;
}
.panelflex {
}

.panel label {
	display: block;
	float: left;
	margin: 0;
	padding: 3 7 3 7;
	color: #000;
	background: #ebeca1;
	font-size: 12px;
	text-transform: uppercase;
}
.panel label.required {
	padding-left: 16px;
	background: url(../img/bg/form-required.png) no-repeat #ebeca1;
}

.panel input[type=text], .panel input[type=email], .panel input[type=password] {
	display: block;
	clear: left;
	font-size: 1.0em;
	height: 30px;
	width: 280px;
	background: rgba(235,236,161,0.4);
	border: 1px solid #ebeca1;
	color: #f9fab9;
	padding: 6px;
	margin-bottom: 6px;
}

textarea {
	background: rgba(235,236,161,0.4);
	border: 1px solid #ebeca1;
	color: #f9fab9;
	padding: 6px;
	margin-bottom: 6px;
}

.panel select {
	display: block;
	clear: left;
	font-size: 1.0em;
	height: 30px;
	width: 280px;
	padding: 6px;
	margin-bottom: 6px;
}

button::-moz-focus-inner {
	border: 0;
}


.button { /* faux buttons, like slider handles */
	background: rgba(235,236,161,0.4);
	border: 4px solid #ebeca1;
	color: #ebeca1;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
	line-height: 0.8;
	padding: 8px 0 9px;
	text-align: center;
	cursor: pointer;
}

button {
	background: rgba(235,236,161,0.4);
	border: 4px solid #ebeca1;
	color: #ebeca1;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
	line-height: 0.8;
	padding: 8px 0 9px;
	text-align: center;
	width: 100px;
	height: 40px;
	cursor: pointer;
}

button.disabled {
	color: rgba(235, 236, 161, 0.1);
	background: rgba(235, 236, 161, 0.1);
	border: 4px solid rgba(235, 236, 161, 0.1);
	cursor: default;
}


div.locked {
	opacity: 0.5;
	cursor: default;
}
div.icon-tab.locked {
	cursor: default;
}
img.padlock {
	margin-left: 42px; 
	margin-top: 42px;
	display: none;
}
div.locked img.padlock {
	display: block;
}
button.locked {
	opacity: 0.3;
	cursor: default;
/*	background-image: url("/frontend/img/site/padlock-white.png");	
	background-position: right bottom; 
	background-repeat: no-repeat;*/
}
button.locked.pa-ind {
	opacity: 0.7;
	cursor: default;
}

#footer {
	height: 30px;
}
#footer nav {
	float: right;
	margin-top: 5px;
	margin-right: 8px;
}


form {
	margin: 0;
}


div.module {
	position: relative;
	width: 60px;
	height: 60px;
	margin: 0;
	padding: 0;
	line-height: 36px;
	text-align: center;
	font-size: 12px;
	color: #777777;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;

	background: -webkit-gradient(linear, left top, left bottom, from(#111), to(#666));
	background: -moz-linear-gradient(top,  #111,  #666);
}

.tier-common {
	background: -webkit-gradient(linear, left top, left bottom, from(#111), to(#666));
	background: -moz-linear-gradient(top,  #333,  #CCC);
}


div.module img {
	position: absolute;
	top: 0;
	left: 0;
	border: 0;
}
span.mass {
	position: absolute;
	line-height: normal;
	left: 2;
	top: 2;
	font-size: 10px;
	font-weight: bold;
	color: rgba(255,255,255,0.4);
}
span.class {
	position: absolute;
	line-height: normal;
	right: 4;
	bottom: 2;
	font-size: 10px;
	font-weight: bold;
	color: rgba(255,255,255,0.4);
}

select {
	background-color: #ebeca1;
	font-size:100%;
	margin-top: 6px;
}

div.tab {
	background: rgba(235,236,161,0.4);
	border: 4px solid #ebeca1;
	border-bottom: 0;
	color: #ebeca1;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
	line-height: 0.8;
	padding: 8px 5px 9px;
	text-align: center;
	float: left;
	margin-left: 5px;
	margin-top: 10px;
	cursor:pointer;
	border-top-left-radius:   8px;
}
div.icon-tab {
	background: rgba(235,236,161,0.4);
	border: 4px solid #ebeca1;
	border-bottom: 0;
	color: #ebeca1;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
	line-height: 0.8;
	padding: 4px 4px 3px;
	text-align: center;
	float: left;
	margin-left: 5px;
	margin-top: 10px;
	cursor:pointer;
	border-top-left-radius:   8px;
}
div.tab-on {
	background-color: #ebeca1;
	color: #000;
}


.module-details p {
	font-size: 12px;
}
.module-stats sup {
	font-size: 8px;
	line-height:8px;
}

button.pa-adjust {
	float: left; 
	width: 32px; 
	height:66px; 
	margin: 2px;
	font-size: 20px;
}
button.pa-ind {
	float: left; 
	margin: 18px 2px; 
	width:26px; 
	height:26px; 
}
button.pa-ind-on {
	background-color: #FF9; 
}


button.mpa {
	width: 40;
}
button.mpa-on {
	background: #ebeca1;
	color: #000;
}

dl
{
	float: left;
	padding: 0;
	margin: 0;
	font-size: 12px;
	margin-bottom: 10px;
}

dt
{
	clear: left;
	float: left;
	width: 80px;
	margin: 0;
	text-align: right;
	font-weight: normal;
	padding: 2px;

}

dd
{
	float: left;
	font-weight: bold;
	color: #ebeca1;
	margin: 0;
	padding: 2px;

}


.module-stats-primary {
	margin-top: 0px;
}

.module-stats-primary dl
{
	float: left;
	width: 199px;
	padding: 0;
	margin: 0;
	font-size: 12px;
	margin-bottom: 10px;
}

.module-stats-primary dt
{
	clear: left;
	float: left;
	width: 40px;
	margin: 0;
	text-align: right;
	font-weight: normal;
	padding: 2px;

}

.module-stats-primary dd
{
	float: left;
	font-weight: bold;
	color: #ebeca1;
	margin: 0;
	padding: 2px;

}

.module-stats-secondary {
	margin-top: 10px;
}

.module-stats-secondary dl
{
	float: left;
	padding: 0;
	margin: 0;
	font-size: 12px;
	margin-bottom: 10px;
}

.module-stats-secondary dt
{
	clear: left;
	float: left;
	width: 127px;
	margin: 0;
	text-align: right;
	font-weight: normal;
	padding: 2px;

}

.module-stats-secondary dd
{
	float: left;
	font-weight: bold;
	color: #ebeca1;
	margin: 0;
	padding: 2px;

}
